
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1200px;
}

html {
box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
ul,
li,
figure,
figcaption {
    margin: 0;
}